language: node_js
node_js:
  - "8"

cache:
  directories:
    - "node_modules"

branches:
  only:
  - master

install:
  - yarn install
  - yarn run generate --env=production

script:
  - echo "Skipping tests"

deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_ACCESS_TOKEN
  repo: ClarkMitchell/clarkmitchell.github.io
  target-branch: master
  local-dir: dist
  on:
    branch: master
